body{
    background-color: #2d2a29;
    background-image: linear-gradient(62deg, #2d2a29 0%, #332c19 100%);

}

.nav{
	padding: 2%;
	font-family: 'Rubik', sans-serif;
}

.nav a{
	color: #FFFfff;
}

.intro-1 h1{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #Ffffff;
    margin-top: 3%;
}

.myNavbar .dropdown-item{
    color: #000000;
}

.myIntro{
    text-align: center;
}

.myIMG img{
    padding: 2%;
}

h1{
    margin: 5%;
    color: #Ffffff;
    font-family: 'Rubik', sans-serif;
}
p{
    color: #Ffffff;
    padding: 2%;
    font-family: 'Rubik', sans-serif;
}

.container{
    text-align: center;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
}